DEBUG=True

DATABASE_URL=postgres://postgres:postgres@postgres:5432/fp-activity

EVE_PREFIX=!
EVE_GUILD=
EVE_CHANNEL=
EVE_OWNERS=

EVE_TOKEN=
EVE_APPLICATION_ID=
EVE_PUBLIC_KEY=
EVE_CLIENT_ID=
EVE_CLIENT_SECRET=
EVE_PERMISSIONS=
EVE_SYNC_COMMANDS_GLOBALLY=False

POSTGRES_PASSWORD=postgres